$primary-font: 'Source Code Pro', monospace;
$secondary-font: 'Source Sans Pro', sans-serif;
$light-color: #f4f4f4;

.container{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.centered{
  position:absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
}

// Set text color based on bg color
@function set-text-color($color){
  @if(lightness($color) > 70){
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background and text color
@mixin set-background($color){
  background-color: $color;
  color: set-text-color($color);
}