@import 'config';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: $primary-font;
}

body{
  	background-color: $light-color;
}

header{
	nav{
		display:none;
		z-index: 5;
		color: $light-color;
		background-color: rgba(43, 43, 43, .9);
		position:fixed;
		top:0;
		left:0;
		width: 100%;
		height: 5rem;
		text-align: right;
		transition: transform .4s ease-in;

		ul{
			display: none;
			padding: 1rem;

			li{
				display: inline-block;
				padding: 0 2rem;

				a{
					font-family: $primary-font;
					color: $secondary-color;
					font-size: 2rem;
					font-weight: 300;
					transition: color .3s ease-out;
				}
			}
		}
  	}

	nav.nav-open{
		height: 100vh;
		width: 15rem;

		ul{
			display: block;
			text-align: center;

			li{
				display: block;
				padding: 1rem 2rem;
			}
		}
	}
}

#intro{
	height: 100vh;
	background: linear-gradient(135deg, #6e6e6e 0%, rgba(12, 12, 12, 0.9) 100%), url(../images/intro2.png) center no-repeat;
	background-size: cover;
	color: $secondary-color;

	#info-container{
		position: relative;
		overflow: hidden;

		h1{
			color: $secondary-color;
			display: block;
			height: 3rem;
			font-family: $primary-font;
			font-weight: 500;
			font-size: 2.2rem;
			line-height: 3rem;
			letter-spacing: 1.1rem;

			span {
				display: inline-block;
				min-width: 1.5rem;
				transform: translateY(-3rem);
				animation: slide_in_down .1s ease-in forwards;
				-webkit-animation: slide_in_down .1s ease-in forwards;
				-moz-animation: slide_in_down .1s ease-in forwards;
			}
		}

		#typing-container{
			display: inline-block;
			height: 4rem;
			margin: 1rem;

			h3{
				display: inline-block;
				color: $light-color;
				font-family: $secondary-font;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 4rem;
			}
		}

		#skill-container{
			p{
				display: inline-block;
				z-index: 2;
				font-family: $primary-font;
				font-weight: 400;
				font-style: italic;
				font-size: 1.2rem;
				opacity: 0;
				transition: opacity 1s ease-in;
				background: $primary-gradient;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
			}
		}

		.cta-container{
			display: inline-block;
			height: 10rem;
			padding: 4rem 0 0 0;

			button{
				display: none;
			}
		}
	}
}

#about{
	background: $light-color;
	background-size: cover;
	color: $light-color;
	padding: 2rem;
	max-width: 960px;
	margin: 0 auto;

	.about-card-container{
		display: block;
		width: 90%;
		text-align: center;
		margin: 4rem auto;

		.about-card{
			background: linear-gradient(135deg, #6e6e6e 0%, rgba(12, 12, 12, 0.9) 100%);
			font-family: $primary-font;
			display: block;
			width: 100%;
			max-width: 40rem;
			margin: 1rem auto;
			padding: 2rem 2rem 3rem 2rem;
			text-align: center;
			border-radius: 4px;

			.material-icons{
				color: $secondary-color;
				font-size: 7rem;
				margin: 1rem 0;
			}

			h3{
				color: $light-color;
				font-family: $secondary-font;
				font-size: 2.5rem;
				font-weight: 500;
			}

			p{
				color: $light-color;
				margin: .5rem 0;
				font-size: 1.8rem;
				font-weight: 300;
			}
		}
	}
}

#services{
	h2{
		color: $secondary-color;
	}

	.slider-container{
		position: relative;
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

	.slider{
		position: relative;
		margin: 4rem 0;

		.material-icons.arrow{
			cursor: pointer;
			color: $primary-color;
			opacity: 0.5;
			z-index: 3;
			font-size: 6rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.material-icons.arrow:hover{
			opacity: 1;
		}

		.material-icons.left{
			left: 0;
		}

		.material-icons.right{
			right: 0;
		}
	}

	.slide-item{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		color: $primary-color;
		font-family: $primary-font;
		display: inline-block;
		text-align: center;
		padding: 4rem;
		transition: transform .3s ease-out;

		.material-icons{
			font-size: 8rem;
		}

		h3{
			color: $dark-color;
			text-transform: uppercase;
			font-family: $secondary-font;
			font-size: 3rem;
			padding: 1rem 0 0.5rem 0;
		}

		p{
			font-size: 2rem;
			padding: .5rem;
			color: $dark-color;
		}
	}
}

#contact{
	background: linear-gradient(135deg, #6e6e6e 0%, rgba(12, 12, 12, 0.9) 100%);
	background-size: cover;
	color: $light-color;

	p.reach-out{
		font-size: 1.5rem;
		padding: 0 0 2rem 0;
	}

	h2{
		margin: 3rem auto;
		text-align: center;
	}

	.form-container{
		padding: 0 3rem 3rem 3rem;
		max-width: 768px;
		margin: 0 auto;

		p{
			margin: 1rem 0;
		}

		label{
			display: block;
			margin: .5rem 0;
			font-size: 2rem;
			font-weight: 400;
			color: $secondary-color;
		}

		textarea, input{
			width: 100%;
			margin: .5rem 0;
			padding: .5rem;
			font-size: 1.5rem;
			border-radius: 5px;
			border: none;
		}

		input{
			height: 3rem;
		}
	}
}

footer{
	.social-link img{
		margin: 0 2rem;
		width: 5rem;
	}

	.about-site{
		margin: 0 auto;
		max-width: 960px;
		padding: 3rem;

		p{
			color: #c2c2c2;
			font-size: 1.2rem;
		}

		a{
			color: $secondary-color;
		}

		a:hover{
			color: $primary-color;
		}
	}
}

@media (min-width: 768px){
	header{
		nav{
			.mobile-menu{
				display: none;
			}

			ul{
				display: block;
			}
		}
	}

	#intro{
		#info-container {
			h1{
				font-size: 3rem;

				span{
					min-width: 2.9rem;
				}
			}

			#typing-container{
				margin: 2rem;

				h3{
					font-size: 4rem;
				}
			}

			#skill-container{
				p{
					font-size: 2rem;
				}
			}
		}
	}

	#about{
		padding: 10rem 2rem;

		.about-card-container{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0;
			padding: 0 1rem;

			.about-card{
				min-height: 32rem;

				.material-icons{
					font-size: 10rem;
				}
				h3{
					font-size: 3rem;
				}
				p{
					font-size: 2rem;
				}
			}
		}
	}

	#services{
		.slide-item{
			width: 50%;
		}
	}
}

@media (min-width: 960px) {
	#intro{
		#info-container {
			#skill-container{
				p{
					font-size: 2.5rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	#services{
		.slide-item{
			width: 33%;
		}
	}
}