<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <title>Kyle Bennett Portfolio</title>
    </head>
    <body>
        <header>
            <nav ontransitionend="handleMenuState();">
                <div class="mobile-menu">
                    <i onclick="toggleMobileMenu();" class="material-icons icon-closed">menu</i>
                </div>
                <ul onclick="toggleMobileMenu()">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
<!--                    <li><a href="#projects">Projects</a></li>-->
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="intro">
                <div class="container">
                    <div id="info-container" class="centered">
                        <h1 id="info-name"></h1>
                        <div id="typing-container">
                            <div class="cursor"></div>
                            <h3>{ <span id="info-title"></span> }</h3>
                        </div>
                        <div id="skill-container">
                            <p>HTML . CSS . JavaScript . React . Node . Mongo . SQL</p>
                        </div>
                        <div class="cta-container">
                            <a href="#contact">
                                <button class="scale-in">LET'S WORK TOGETHER</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about">
                <div class="about-card-container">
                    <div class="about-card">
                        <span class="material-icons">
                            offline_bolt
                        </span>
                        <h3>FAST</h3>
                        <p>Lightning fast load times. Light-weight, efficient, and scalable code are my top priority.</p>
                    </div>
                </div><!--
                --><div class="about-card-container">
                    <div class="about-card">
                        <span class="material-icons">
                            devices
                        </span>
                        <h3>RESPONSIVE</h3>
                        <p>I use a mobile-first approach to make transitioning between screens seamless.</p>
                    </div>
                </div><!--
                --><div class="about-card-container">
                    <div class="about-card">
                        <span class="material-icons">
                            emoji_objects
                        </span>
                        <h3>INTUITIVE</h3>
                        <p>User-focused modern design and development ensure an enjoyable and intuitive UX/UI.</p>
                    </div>
                </div><!--
                --><div class="about-card-container">
                    <div class="about-card">
                        <span class="material-icons">
                            dynamic_form
                        </span>
                        <h3>DYNAMIC</h3>
                        <p>Seamless API integration and user-based data provide a unique user experience every time.</p>
                    </div>
                </div>
            </section>
            <section id="services">
                <div class="slider-container">
                    <h2>WEB SERVICES</h2>
                    <div class="slider">
                        <div class="slide-item">
                            <span class="material-icons">analytics</span>
                            <h3>Analytics</h3>
                            <p>Get insights into what is happening when a user visits your site, and learn how to use this information to improve performance.</p>
                        </div><!--
                        --><div class="slide-item">
                            <span class="material-icons">developer_mode</span>
                            <h3>Design & Development</h3>
                            <p>Clean, modern, and responsive designs are search engine optimized for performance and converting views to customers.</p>
                        </div><!--
                        --><div class="slide-item">
                            <span class="material-icons">vertical_split</span>
                            <h3>Content Management</h3>
                            <p>I build a fully customized framework that fits your specific needs and allows you to easily edit your own content.</p>
                        </div><!--
                        --><div class="slide-item">
                            <span class="material-icons">fact_check</span>
                            <h3>Website Audits</h3>
                            <p>I will audit the performance, UX, and SEO of your existing site for FREE, and help you to formulate a solution.</p>
                        </div><!--
                        --><div class="slide-item">
                            <span class="material-icons">construction</span>
                            <h3>Site Upgrade</h3>
                            <p>Just looking to improve the overall look and feel of an existing site or application? I'll find a solution that fits your needs.</p>
                        </div>
                        <span onclick="prevItem();" class="material-icons arrow left">chevron_left</span>
                        <span onclick="nextItem();" class="material-icons arrow right">chevron_right</span>
                    </div>
                </div>
            </section>
<!--            <section id="projects"></section>-->
            <section id="contact">
                {{> contact }}
            </section>
        </main>
        <footer>
            <a class="social-link" href="https://github.com/kylejbennett" target="_blank">
                <img src="images/github_icon.png" alt="github logo">
            </a>
            <a class="social-link" href="https://www.linkedin.com/in/kylejosephbennett/" target="_blank">
                <img src="images/linkedin_icon.png" alt="linkedIn logo">
            </a>
            <div class="about-site">
                <p>This site is a <a href="https://nodejs.org/en/" target="_blank">Node</a>/<a href="https://expressjs.com/" target="_blank">Express</a> application, built using <a href="https://www.jetbrains.com/phpstorm/" target="_blank">PhpStorm IDE</a>, styled with <a href="https://sass-lang.com/guide" target="_blank">Sass</a>, view engine by <a href="https://handlebarsjs.com/" target="_blank">Handlebars</a>, contact form powered by <a href="https://nodemailer.com/about/" target="_blank">Nodemailer</a>, fonts (Heebo and Source Code Pro) pulled from <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>, Technology Vectors by <a href="https://www.vecteezy.com/free-vector/technology" target="_blank">Vecteezy</a>, version controlled with Git/<a href="https://github.com/" target="_blank">Github</a>.</p>
                <br>
                <p>KYLE BENNETT ©2020 </p>
            </div>
        </footer>
        <script src="js/slider.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
