h2 {
  color: aquamarine;
  font-size: 4rem;
  padding: 6rem 0 0 0; }

button {
  border: none; }

button:hover {
  cursor: pointer; }

span.msg {
  color: green;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem; }

a {
  text-decoration: none; }

a:hover {
  color: #8ed63b; }

.mobile-menu i {
  font-size: 4rem;
  padding: .5rem; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.centered {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center; }

.cursor {
  display: none;
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 5.1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  animation: blink 1s ease-in-out infinite;
  -webkit-animation: blink 1s ease-in-out infinite;
  -moz-animation: blink 1s ease-in-out infinite; }

@keyframes blink {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  100% {
    background-color: #c2c2c2; } }
@-webkit-keyframes blink {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  100% {
    background-color: #c2c2c2; } }
@-moz-keyframes blink {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  100% {
    background-color: #c2c2c2; } }
@keyframes slide_in_down {
  0% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes slide_in_down {
  0% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes slide_in_down {
  0% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0); } }
.scale-in {
  animation: scale_in 0.75s cubic-bezier(0.71, 0.09, 0.65, 1.295) forwards;
  -webkit-animation: scale_in 0.75s cubic-bezier(0.71, 0.09, 0.65, 1.295) forwards;
  -moz-animation: scale_in 0.75s cubic-bezier(0.71, 0.09, 0.65, 1.295) forwards; }

@keyframes scale_in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes scale_in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-moz-keyframes scale_in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@media (min-width: 768px) {
  .cursor {
    display: block;
    height: 4rem;
    width: 2.4rem;
    top: 4.3rem; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  font-family: "Source Code Pro", monospace; }

body {
  background-color: #f4f4f4; }

header nav {
  display: none;
  z-index: 5;
  background-color: rgba(19, 57, 64, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  text-align: right;
  transition: transform .4s ease-in; }
  header nav ul {
    display: none;
    padding: 1rem; }
    header nav ul li {
      display: inline-block;
      padding: 0 2rem; }
      header nav ul li a {
        font-family: "Montserrat", sans-serif;
        color: #ca481f;
        font-size: 2rem; }
header nav.nav-open {
  height: 100vh;
  width: 15rem; }
  header nav.nav-open ul {
    display: block;
    text-align: center; }
    header nav.nav-open ul li {
      display: block;
      padding: 1rem 2rem; }

#intro {
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/intro2.png) center no-repeat;
  background-size: cover;
  color: #f4f4f4; }
  #intro #info-container {
    position: relative;
    overflow: hidden; }
    #intro #info-container h1 {
      color: #8ed63b;
      display: block;
      height: 3rem;
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 3rem;
      letter-spacing: 1.1rem; }
      #intro #info-container h1 span {
        display: inline-block;
        min-width: 1.5rem;
        transform: translateY(-3rem);
        animation: slide_in_down .1s ease-in forwards;
        -webkit-animation: slide_in_down .1s ease-in forwards;
        -moz-animation: slide_in_down .1s ease-in forwards; }
    #intro #info-container #typing-container {
      display: inline-block;
      height: 4rem;
      margin: 1rem; }
      #intro #info-container #typing-container h3 {
        display: inline-block;
        font-family: "Source Code Pro", monospace;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 4rem; }
    #intro #info-container #skill-container p {
      z-index: 2;
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
      font-size: 1.2rem;
      opacity: 0;
      transition: opacity 1s ease-in;
      background: linear-gradient(to right, #ca481f 0%, #8ed63b 100%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text; }
    #intro #info-container .cta-container {
      display: inline-block;
      height: 10rem;
      padding: 4rem 0 0 0; }
      #intro #info-container .cta-container button {
        display: none;
        font-family: "Source Code Pro", monospace;
        font-weight: 600;
        background-color: #ca481f;
        color: #f4f4f4;
        padding: 1rem;
        border-radius: 5px; }
      #intro #info-container .cta-container button:hover {
        background-color: #9e3818; }

#about {
  background: linear-gradient(135deg, rgba(67, 138, 152, 0.9) 0%, rgba(216, 135, 135, 0.8) 100%), url(../images/about.png) center no-repeat;
  background-size: cover;
  color: #f4f4f4;
  padding: 2rem; }
  #about .about-card-container {
    display: block;
    width: 90%;
    text-align: center;
    margin: 4rem auto; }
    #about .about-card-container .about-card {
      background: linear-gradient(135deg, rgba(142, 48, 48, 0.6) 0%, rgba(6, 44, 51, 0.6) 100%);
      font-family: "Montserrat", sans-serif;
      display: block;
      width: 100%;
      max-width: 40rem;
      margin: 1rem auto;
      padding: 2rem 2rem 3rem 2rem;
      text-align: center;
      border-radius: 4px; }
      #about .about-card-container .about-card .material-icons {
        color: #ca481f;
        font-size: 4rem;
        margin: 1rem 0; }
      #about .about-card-container .about-card h3 {
        color: #8ed63b;
        font-size: 2rem;
        font-weight: 500; }
      #about .about-card-container .about-card p {
        margin: .5rem 0;
        font-size: 1.5rem;
        font-weight: 300; }

#services .slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center; }
#services .slider {
  position: relative; }
  #services .slider .material-icons.arrow {
    cursor: pointer;
    color: rgba(127, 255, 212, 0.6);
    z-index: 3;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  #services .slider .material-icons.left {
    left: 0; }
  #services .slider .material-icons.right {
    right: 0; }
#services .slide-item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: aquamarine;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 5rem;
  transition: transform .3s ease-out; }
  #services .slide-item .material-icons {
    font-size: 8rem; }
  #services .slide-item h3 {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 0 0.5rem 0; }
  #services .slide-item p {
    font-size: 1.5rem;
    padding: .5rem;
    color: #000; }

#contact {
  background: linear-gradient(135deg, rgba(1, 134, 160, 0.9) 0%, rgba(80, 39, 39, 0.8) 100%);
  background-size: cover;
  color: #f4f4f4; }
  #contact p.reach-out {
    font-size: 1.5rem;
    padding: 0 0 2rem 0; }
  #contact h2 {
    margin: 3rem auto;
    text-align: center; }
  #contact .form-container {
    padding: 0 3rem 3rem 3rem;
    max-width: 768px;
    margin: 0 auto; }
    #contact .form-container p {
      margin: 1rem 0; }
    #contact .form-container label {
      display: block;
      margin: .5rem 0;
      font-size: 2rem;
      font-weight: 500;
      color: #ca481f; }
    #contact .form-container textarea, #contact .form-container input {
      width: 100%;
      margin: .5rem 0;
      padding: .5rem;
      font-size: 1.5rem;
      border-radius: 5px;
      border: none; }
    #contact .form-container input {
      height: 3rem; }
    #contact .form-container button {
      background-color: #ca481f;
      color: #f4f4f4;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 3rem;
      border-radius: .5rem; }

@media (min-width: 768px) {
  header nav .mobile-menu {
    display: none; }
  header nav ul {
    display: block; }

  #intro #info-container h1 {
    font-size: 3rem; }
    #intro #info-container h1 span {
      min-width: 2.9rem; }
  #intro #info-container #typing-container h3 {
    font-size: 4rem; }
  #intro #info-container #skill-container p {
    font-size: 2rem; }

  #about {
    padding: 10rem 2rem; }
    #about .about-card-container {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0;
      padding: 0 1rem; }
      #about .about-card-container .about-card {
        min-height: 32rem; }
        #about .about-card-container .about-card .material-icons {
          font-size: 10rem; }
        #about .about-card-container .about-card h3 {
          font-size: 3rem; }
        #about .about-card-container .about-card p {
          font-size: 2rem; }

  #services .slide-item {
    width: 50%; } }
@media (min-width: 960px) {
  #intro #info-container #skill-container p {
    font-size: 2.5rem; } }
@media (min-width: 1200px) {
  #about .about-card-container {
    width: 25%; }

  #services .slide-item {
    width: 33%; } }

/*# sourceMappingURL=style.css.map */
